$primary: #ef5b4c;
$secondary: #007bff;
$background-one: #fff;
$background-two: #f9f9f3;
$error: #f44336;

$disabled: #d7d7d7;
$primary-hover: #d24335;

$border-input: #ced4da;
$border-input-shadow: #e6f2ff;
$border-input-focus: #80bdff;
$border-input-error: #db3445;
$border-input-error-shadow: #f8d6da;
$border-radio: #afb7bf;
$background-button: #f8f7f5;
