@import '../../styles/breakpoints';

.header {
  position: sticky;
  top: 0;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 200;

  nav {
    display: none;
  }
  .menu-icon {
    display: inline;
    cursor: pointer;
  }

  @include for-tablet-up {
    min-height: 60px;
    // padding: 0 30px;
  }

  @include for-desktop-up {
    .menu-icon {
      display: none;
    }
    nav {
      display: inline-block;
    }
  }
}
